* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

#password {
   font-size: 25px;
   text-align: center;
   width: 40%;
   padding: 80px;
   color: white;
   margin: 0 auto;
   background-color: black;
}